// footer {
//     position: absolute;
//     left: 0;
//     // bottom: -100px;
//     margin-top: 100px;
//     // height: 110px;
//     height: auto;
//     width: 100%;
//     background-color: $black;
//   }

footer {
  padding: 1.42857em;
  background: $white;
  background-color: $white;
  // position: absolute;
  // margin-top: 100px;
  // background: $white;
  // background-color: $white;
  .footer-menu {
    padding-right: 1.42857em;
    padding-bottom: 1.42857em;
    .ym-hlist {
      background: none;
      ul {
        padding-left: 0;
        li {
          margin-right: 18px;
          @media screen and (max-width: 768px) {
            float: none;
            display: block;
            margin-bottom: 0.25em;
          }
        }
      }
      ul li a {
        text-shadow: none;
        &:hover {
          background: none;
          border-radius: 0;
          text-decoration: none;
          outline: 0 none;
          color: $grey;
          }

        }
      }
      .ym-hlist ul li a, .ym-hlist ul li strong {
        color: $mid-grey;
        display: block;
        font-size: 1em;
        line-height: 2em;
        padding: 0 0.5em;

        @media screen and (max-width: 768px) {
          padding-left: 0;
        }
      }
      .ym-hlist ul li a {
        &:first-of-type {
          padding-left: 0;
        }
      }
    }
    .footer-list {
      color: $mid-grey;
      svg {
        // display: none;

      }

      p {
        font-size: 0.938em;
      }
      ul {
        list-style-type: none !important;
        margin-top: 7px;
        li {
          // margin-bottom: 2px;
          margin-left: 0;
          a {
            color: $mid-grey;

            &:hover {
              background: none;
              color: $grey;
            }
          }
        }
      }
       #social-media-links {
        svg {
          padding-top: 3px;
        }
        li {
          a {

            span {
              position: relative;
              top:-2px;
            }
            svg {
              margin-right: 2px;
              fill: $mid-grey;

            }
            &:hover {
              svg {
                fill:$grey;
              }
            }
          }
        }
      }
      #customer-care {
        li {
          &:first-of-type{
            margin-bottom: 4px;
          }
        }
      }

    }
    .bclb-license {
      padding: 0;
      padding-top: 0.750em;
      padding-bottom: 1.42857em;
      color: $mid-grey;

      p {
        font-size: 0.938em;
      }

    }
    .copyright {
      padding-top: 2.42857em;
      padding-right: 0;
      text-align: right;
      color: $mid-grey;
      font-size: 0.813em;
      @media screen and (max-width : 1200px){

        padding-right: 1.42857em;
      }
      @media screen and (max-width: 768px) {
        text-align: left;
        padding-left: 0;
        padding-top:0.42857em;
      }

    }
    @media screen and (max-width : 1200px){
      .footer-menu {
        .ym-hlist ul li {
            // font-size: 0.938em;
            // margin-right: 18px;
        }
      }

    }
    @media screen and (max-width: 768px) {
      [class*="ym-g"],
      [class*="ym-gbox"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }

  }
