header {
  background: $white;
  // border-bottom: 1px solid $mid-grey;
  clear: both;
  padding: 1.42857em;
  padding-bottom: 0;
  // z-index: 1;
  .logo-wrap {
    float: left;
  }

  .user-menu-wrap {
    .ym-button,
    .ym-form button,
    .ym-form input[type="button"],
    .ym-form input[type="reset"],
    .ym-form input[type="submit"] {
      padding: 0 1em;
    }
    .ym-searchform {
        padding: 0.5em 1.5em;
        padding-right: 0;
        .ym-searchfield {
          // -webkit-appearance: none;
          background: $white;
          line-height: 1.5;
          padding: 0.25em;
          // width: 12em;
          border: solid 1px $light-grey;
          // border: solid 1px rgba(255,255,255,0.1);
          // outline: none;
          // -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
          // box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
      }
    }

    #user-menu {
      list-style-type: none !important;
      display: inline-block;
      float: right;
      margin-top: 1em;
      margin-bottom: 0;

        li {
          display: inline;
          color: $mid-grey;
          float: left;
          font-size: 1.0em;
          line-height: 1;
          list-style-type: none;
          margin: 0 .25em 0 0;
          padding: 0;
          &:first-child {
            margin-right: 27px;
          }

        }
      .active {
        color: $grey;
        line-height: 1;
        background: transparent;
        cursor: text;
      }
      .user-mobile-number {
        color: $grey;
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 50%;
      }
    }
  }
  @media screen and (max-width: 800px) {

  .user-menu-wrap {
    padding-top: 15px;
      #user-menu {
        float: none;
        display: block;
        li {
          margin-top: 7px;
        }

        // .ym-searchform input[type="search"] {
        //     width: 50%;
        // }

      }
      .ym-searchform {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
      }
    }
    .user-menu-wrap [class*="ym-g"],
    [class*="ym-gbox"] {
      display: block;
      float: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .user-menu-wrap {
      #user-menu {
        display: inline;
      }
      .ym-searchform {
        padding-top: 0.5em;

        padding-left: 0;
      }
      .ym-searchform input[type="search"] {
          width: 71%;
      }
      #user-menu {
        li {
          margin-bottom: 15px;
        }
      }
      svg  {
        color: $white;
      }
    }

  }
  @media screen and (max-width: 400px) {
    padding-bottom: 0.5em;
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 66%;
      }
    }
  }
  @media screen and (max-width: 360px) {
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 65%;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 60%;
      }
    }
  }
  @media screen and (max-width: 300px) {
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 53%;
      }
    }
  }
  @media screen and (max-width: 250px) {
    .user-menu-wrap {
      .ym-searchform input[type="search"] {
          width: 44%;
      }
    }
  }

}

.logo {
  // display: inline-block;

  img {
    // display: inline-block;
    // max-width: 150px;
    margin: 0;
  }
}
