// Tickets start
.ticket-wrap {
  .ticket-numbers{
    border: 1px $grey solid;
  }
}
// End Tickets

.form-wrap {
  margin: 0 auto;
  clear: both;
  .ym-form
    input,
    textarea,
    select{
      width: 100%;
  }
  .ym-form {
    border: none;
    .ym-fbox {
      // padding: 0.5em 1.5em;
      padding: 1em 2em;
    }
    input {
      font-size: 135%;
      padding:0.625em;
      margin-bottom: 0.75em;
      &::placeholder {
        color: $light-grey;
      }
    }

    label {
      font-weight: $bold;
      font-size: 117%;
      padding-bottom: 0.313em;
      a {
        font-weight: normal;
        font-size: 90%;
      }
      .reset-account {
        float: right;
        // position: relative;
        // top: 2px;
      }
    }
    .require-text,
    .agreement-text {
      font-weight: normal;
      font-size: 90%;
    }
    .required-text,
     .agreement-text {
      margin-bottom: 1em;
      label {
        font-weight: normal;
        font-size: 95%;
      }
    }
    .required-text {
      margin-bottom: 0;
    }
    .ym-button {
      padding-top:0.35em;
      padding-bottom: 0.35em;
      margin-bottom: 0.25em;
    }
    .register {
      margin-top: 0.750em;
      label {
        font-weight: normal;
        font-size: 110%;
      }
      .ym-button {
        padding-top:0.25em;
        padding-bottom: 0.25em;
        margin: 0 0 0 0.5em;
      }
    }
  }
  .ym-fbox-check {
    input {
       width: auto;
       padding:0.25em;
    }
    label {
      font-weight: normal;
      font-size: 90%;
    }
  }



  @media screen and (max-width: 400px) {
    .ym-form {
      .ym-fbox {
        padding: 0.5em 1.5em;
      }
      input {
        font-size: 110%;
      }
      label {
        font-weight: $bold;
        font-size: 100%;
        .reset-account {
          // position: relative;
          // top: 3px;
          float: none;
          display: block;
          line-height: 2;
        }
      }
      .register {
        label {
          font-size: 90%;
        }
        .ym-button {
          padding:  0.25em 0.5em;
          margin-top: 0.25em;
        }
      }
    .ym-fbox-check {
      input {
         padding:0.125em;
      }
        label {
          font-weight: normal;
          font-size: 90%;
          position: relative;
          top:-2px;
        }
      }
    }
  }

  @media screen and (max-width: 300px) {
    .ym-form {
      .register {
        .ym-button {
          // padding:  0.25em 0.5em;
          margin-left: 0.25em;
        }
      }
    }

  }
  @media screen and (max-width: 280px) {
    .ym-form {
      .register {
        .ym-button {
          // padding:  0.25em 0.5em;
          margin: 0.25em 0;
        }
      }
    }

  }

}
