// Tickets start
.ticket-wrap {
  .ticket-numbers{
    border: 1px $grey solid;
  }
}
// End Tickets

.form-wrap {
  margin: 0 auto;
  clear: both;
  .ym-form
    input,
    textarea,
    select{
      width: 100%;
  }
  .ym-form {
    .ym-fbox {
      padding: 0.5em 1.5em;
    }
    input {
      font-size: 135%;
      padding-top:0.5em;
      padding-bottom: 0.5em;
      margin-bottom: 0.75em;
      &::placeholder {
        color: $light-grey;
      }
    }

    label {
      font-weight: $bold;
      font-size: 117%;
      padding-bottom: 0.313em;
      a {
        font-weight: normal;
        font-size: 90%;
      }
      .reset-account {
        float: right;
      }
    }
    .ym-button {
      padding-top:0.35em;
      padding-bottom: 0.35em;
      margin-bottom: 0.25em;
    }
    .register {
      margin-top: 0.750em;
      label {
        font-weight: normal;
        font-size: 110%;
      }
      .ym-button {
        padding-top:0.25em;
        padding-bottom: 0.25em;
        margin: 0 0 0 0.5em;
      }
    }
  }
  .ym-fbox-check {
    input {
       width: auto;
    }
    label {
      font-weight: normal;
      font-size: 90%;
    }
  }

}
