// Tickets start
.ticket-wrap {
  .ticket-numbers{
    border: 1px $grey solid;
  }
}
// End Tickets

.form-wrap {
  margin: 0 auto;
  .ym-form
    input,
    textarea,
    select{
      width: 100%;
  }
  .ym-fbox-check {
    input {
       width: auto;
    }
  }

}
