.pagination-wrap {
  text-align: center;
  margin: 3em auto;
  padding: 0 0 0 1.938em;
  // padding: 1.42857em;
  .pagination {
    display: inline-block;
    a {
      color: $mid-grey;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid $light-grey;
      background: $white;
      margin: 4px;
      @include border-radius(4px, 4px);
    }
    a.active {
      background-color: $grey;
      color: $white;
      border: 1px solid $grey;
    }
    a:hover:not(.active) {
      background-color: $grey;
      color: $white;
    }
  }
  @media screen and (max-width: 800px) {
    padding: 0 0 0 1.500em;
  }
  @media screen and (max-width: 600px) {
    padding: 0 0 0 1.000em;
  }
  @media screen and (max-width: 500px) {
    padding: 0 0 0 1.250em;
  }
  @media screen and (max-width: 360px) {
    padding: 0 0 0 1.625em;
  }
}
