table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  tr {
    background-color: lighten($light-grey, 12%);
    border: 1px solid $light-grey;
    padding: 0.35em;
    &:nth-child(even) {
       background: $white;

    }
  }
  th,td {
    // padding: .625em;
    // text-align: center;
    padding: .625em 1.5em;
    text-align: left;
  }
  td {
    border-top: none;
  }
  th {
    background-color: $black;
    color: $white;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-bottom: none;
  }
}

.latest-winners {
  th,td {
    padding: .625em;
    text-align: center;
  }

}

.table-summary {
  clear: both;
  padding: 0.5em 0 0.750em 0;
  .transaction-date {
    display: inline-block;
    padding: 0 0 0.5em 0;
  }
  .legend {
    float: right;
    padding: 0 0 0.5em 0;
    font-size: 90%;
    .winning-symbol,
    .bonus-symbol {
      svg {
        position: relative;
        top:1px;
      }
    }
    .winning-symbol{
      svg {
        fill: $grey;
      }
    }
    .bonus-symbol{
      svg {
        fill: $black;
      }
    }
    ul {
      list-style-type: none;
      li {
        float: left;
      }
    }
  }

}
.ticket-table {
  .bonus-number,
  .winning-number {
    // border-radius: 50%;
    color: $white;
    padding: 1px 6px;
    margin: 0 3px;
  }
  .bonus-number {
    background: $black;
  }
  .winning-number {
    background: $grey;
  }

}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    caption {
      font-size: 1.3em;
    }
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      display: block;
      margin-bottom: .625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1.00em;
      text-align: right;
      font-weight: bold;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: normal;
        font-size: 0.750em;
        // font-weight: bold;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    .draw-date,
    .category {
      background-color: $black;
      color: $white;
    }
  }
  .table-summary {
    .legend {
      float: left;
      margin: 5px auto;
      #table-legend {
        li {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 300px) {
  #table-legend {
    li {
      display: block;
      margin-left: 0;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
