/* Google Font API */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$font-family: 'Open Sans', sans-serif;
$bold: 700;

body {;
  // font-family: Verdana, Arial, sans-serif;
  font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: $bold;
}


textarea,
pre,
code,
kbd,
samp,
var,
tt {
  font-family: Consolas, "Lucida Console", "Courier New", Courier;
}

blockquote,
cite,
q {
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
a:hover, a:focus {
    // background-color: #4d87c7;
    // background: none;
    background-color: transparent;
    color: blue;
    text-decoration: none;

}
