.sub-menu-wrap {
  background: $light-grey;
  padding: 1em;
  .account-balance {
    padding-top: 0.375em;
    .balance-amount {
      font-weight: bold;
    }
  }
  .sub-menu {
    .ym-hlist {
      background: transparent;
      ul {
        float: right;
        padding: 0 1.5em;
        li {
          a {
            text-shadow: none;
            color: $grey;
            font-weight: bold;
            &:last-of-type {
              padding-right: 0;
            }
          }
          strong {
            text-shadow: none;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .account-balance {
      padding-top: 0;
      padding-bottom: 1.42857em;
      text-align: center;
    }
    .sub-menu {
      .ym-hlist {
        ul {
          float: none;
        }
      }
    }
  }
}
