.sub-menu-wrap {
  background: $light-grey;
  padding: 1em;
  .account-balance {
    padding-top: 0.375em;
    .balance-amount {
      font-weight: bold;
    }
  }
  .sub-menu {
    .ym-hlist {
      background: transparent;
      ul {
        float: right;
        padding: 0 1.5em;
        li {
          a {
            text-shadow: none;
            color: $grey;
            font-weight: bold;
            &:last-of-type {
              padding-right: 0;
            }
          }
          strong {
            text-shadow: none;
            font-weight: bold;
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .account-balance {
      padding-top: 0;
      padding-bottom: 1.42857em;
      text-align: center;
    }
    .sub-menu {
      .ym-hlist {

        display: flex;
        justify-content: space-around;
        ul {
          float: none;
          padding: 0;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    margin-top: -2px;
  }
  @media screen and (max-width: 600px) {
    font-size: 90%;
    .ym-hlist {
      ul {
        // font-size: 95%;
      }
    }
  }
  @media screen and (max-width: 360px) {
    font-size: 85%;
    .ym-hlist {
      ul {
        // font-size: 80%;
      }
    }
  }
  @media screen and (max-width: 300px) {
    font-size: 80%;
    .ym-hlist {
      ul {
        // font-size: 80%;
      }
    }
  }

}
// Datepicker start
  .datepicker-wrap {
    // .ui-datepicker-title {
    //   background: $grey;
    //   color: $white;
    //   font-weight: bold;
    //   text-align: center;
    //   padding: 0.35em;
    //
    // }
    .ui-datepicker-calendar {
      font-size: 90%;
      text-align: center;
    }
    .ui-widget-header .ui-icon {
    background-image: url("../images/icons/ui-icons_222222_256x240.png");
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
     {
      border: none;
      background: transparent;
      // background: #e6e6e6 url("images/images/icons/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
      /* background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; */
        /* border: 1px solid #d3d3d3; */
        /* background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; */
        font-weight: normal;
        color: $mid-grey;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
      // border: 1px solid $grey;
      border: none;
      background: #fbf9ee url("../images/icons/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
      // color: #363636;
      font-weight: bold;
      color: $grey;
    }
    .ui-widget.ui-widget-content {
        // border: 1px solid #d3d3d3;
        border: none;
        padding: 0;
        width: 100%;
    }
    .ui-widget-content {
      // border: 1px solid #aaaaaa;
      // background: #ffffff;
      // color: #222222;
      border: 1px solid $light-grey;
      background: transparent;

    }
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

    border: 1px solid $light-grey;
    // background: $light-grey url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    background: $light-grey;
    // padding: 0 0 0.063em 0 ;
    padding: 0 3px 0 1px;
    @include border-radius(3px, 3px);
    font-weight: normal;
    }
    table th, table td {
      // padding: .625em 0.5em;
      padding: 3px;
      text-align: center;
    }
    table th {
      background: $mid-grey;
    }
    table tr {
      background: $white;
    }

    .ym-fbox {
      margin-bottom: 15px;
      label {
        line-height: 2.188;
      }
      select {
        padding: 6px;
      }
    }

  }
// End Datepicker
