.full-width-wrapper {
  @media screen and (min-width: 0px) {
    min-width: 0;
  }
}
.general-content,
.help-faqs-content {
  background: $background-grey;
  padding: 1.42857em;
  overflow: hidden;
  h1, h2, h4, h5 {
    margin-bottom: 0.250em;
  }
  h2 {
    text-align: center;
  }
  h3 {
    margin-bottom: 0.500em;
  }
  p {
    // text-align: left;
  }
  .intro {
    font-size: 117%;
    text-align: center;
  }
  ol, ul {
    text-align: left;
  }

}
.login {
  padding-bottom: 9em;
  .box {
    padding: 0.5em 1.42857em;
  }
  .success,
  .warning,
  .error {
    text-align: center;
  }
  @media screen and (max-width:800px) {
    padding-bottom: 3em;
    [class*="ym-g"] {
      display: block;
      float: none;
      padding: 0;
      margin: 0 auto;
      width: 80%;
    }
  }
  @media screen and (max-width:600px) {
    [class*="ym-g"],
    [class*="ym-gbox"] {
      display: block;
      float: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}
.help-faqs-content {
  @media screen and (max-width:600px) {
    [class*="ym-g"],
    [class*="ym-gbox"] {
      display: block;
      float: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}

// .help-faqs-content {
//   padding-bottom: 9em;
//   .box {
//     padding: 0.5em 1.42857em;
//   }
// }
