.terms-conditions-wrap {
  .terms-menu-wrap {
    h4, h5, h6 {
      color: $grey;
      margin-bottom: 0.438em;
    }
    nav {
      background: transparent;
      ul {
        list-style-type: none;
        li {
          margin-left: 0;
          margin-bottom: 0.813em;
          font-weight: bold;
          line-height: 1.5;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
  h4 {
    margin-bottom: 0.5em;
  }
  .terms-content {
    padding-top: 0;
    p {
      text-indent: -1.25em;
      margin-left: 20px;
    }
    #roman-o-list {
      list-style-type: lower-roman!important;
      line-height: 1.65;
      font-size: 90%;
      margin-top: -10px;
      margin-bottom: 0;
      margin-left: 1.938em;
    }
  }
  @media screen and (max-width:600px) {
    [class*="ym-g"],
    [class*="ym-gbox"] {
      display: block;
      float: none;
      padding: 0;
      margin: 0;
      width: 100%;

    }
  }
}
